.todo-wrapper {
    width: 512px;
    margin: 100px auto;
    border-radius: 1rem;
    background: #fff;
    overflow: hidden;
    .title {
        font-size: 1.5rem;  
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid #eee;
        background: #fcff6e;
        font-weight: 700;
    }
    .content {
        // padding: 1rem 0;
    }
}